In [1]:
import pandas as pd

df = pd.read_csv('Istanbul_Q124_Listings.csv')

In [2]:
ist_listings_1 = pd.read_csv('Istanbul_Q124_Listings.csv')
ist_listings_2 = pd.read_csv('Istanbul_Q423_Listings.csv')
ist_listings_3 = pd.read_csv('Istanbul_Q323_Listings.csv')
ist_listings_4 = pd.read_csv('Istanbul_Q223_Listings.csv')

In [3]:
ist_listings_1.shape

(34446, 18)

In [4]:
ist_listings_1.isnull().sum()

id                                    0
name                                  0
host_id                               0
host_name                             0
neighbourhood_group               34446
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                              1891
minimum_nights                        0
number_of_reviews                     0
last_review                       13962
reviews_per_month                 13962
calculated_host_listings_count        0
availability_365                      0
number_of_reviews_ltm                 0
license                           34446
dtype: int64

In [5]:
#Adding a new column to each dataframe to identify the quarter
ist_listings_1['quarter'] = 'Q1_2024'
ist_listings_2['quarter'] = 'Q4_2023'
ist_listings_3['quarter'] = 'Q3_2023'
ist_listings_4['quarter'] = 'Q2_2023'

In [7]:
ist_listings__merged = pd.concat([ist_listings_1, ist_listings_2, ist_listings_3, ist_listings_4],ignore_index=True, axis=0)

In [8]:
ist_listings__merged

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license,quarter
0,25436,In the forest Sea view Two minutes to the city.,105823,Yesim,NaN,Besiktas,41.078830,29.038630,Entire home/apt,NaN,7,0,NaN,NaN,1,0,0,NaN,Q1_2024
1,28318,Cosy home overlooking Bosphorus,121721,Aydin,NaN,Sariyer,41.091040,29.055800,Entire home/apt,4034.0,3,0,NaN,NaN,1,81,0,NaN,Q1_2024
2,34177,PETIT HOUSE,147330,Ercan,NaN,Besiktas,41.066810,29.040350,Entire home/apt,1291.0,10,16,2024-01-03,0.16,2,364,3,NaN,Q1_2024
3,701899,"Artist's Studio, Central & Near Taksim",3195183,Efe & Memet,NaN,Sisli,41.048990,28.986460,Entire home/apt,1305.0,2,274,2024-03-16,1.96,8,362,29,NaN,Q1_2024
4,42835,Cozy apartment in the heart of Istanbul,187026,Attila,NaN,Sisli,41.043030,28.985310,Entire home/apt,2264.0,3,0,NaN,NaN,3,87,0,NaN,Q1_2024
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
165475,924232365240939181,Rental unit in Beyoğlu · ★New · 1 bedroom · 1 ...,333707536,Naz,NaN,Beyoglu,41.026720,28.974220,Entire home/apt,2710.0,2,0,NaN,NaN,4,168,0,NaN,Q2_2023
165476,924262234078527293,Rental unit in Beşiktaş · ★New · 2 bedrooms · ...,101823564,Derya,NaN,Besiktas,41.043915,28.999423,Entire home/apt,1600.0,15,0,NaN,NaN,2,365,0,NaN,Q2_2023
165477,924507008316082291,Rental unit in Şişli · ★New · 1 bedroom · 1 be...,465985296,Merve,NaN,Sisli,41.056258,28.990235,Entire home/apt,1589.0,4,0,NaN,NaN,1,365,0,NaN,Q2_2023
165478,924599239946903466,Home in Şile · ★New · 1 bedroom · 1 bed · 1 bath,522743414,Nurgül,NaN,Sile,41.164707,29.637389,Entire home/apt,1403.0,1,0,NaN,NaN,1,264,0,NaN,Q2_2023
165479,924611456373330376,Home in Fatih · ★New · 1 bedroom · 1 bed · 2 b...,474189573,Nur,NaN,Fatih,41.029940,28.948510,Private room,4057.0,1,0,NaN,NaN,1,262,0,NaN,Q2_2023

In [9]:
ist_listings__merged.duplicated().sum() #0 duplicates

0

In [11]:
columns_to_remove = ['last_review', 
                    'number_of_reviews_ltm', 
                    'license', 
                    'neighbourhood_group']

ist_listings__merged.drop(columns=columns_to_remove, inplace=True)

In [15]:
ist_listings__merged.isnull().sum()

id                                    0
name                                  0
host_id                               0
host_name                             0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
reviews_per_month                 67942
calculated_host_listings_count        0
availability_365                      0
quarter                               0
dtype: int64

In [18]:
# Calculate the mean of the 'price' column (ignoring NaN values)
mean_price = ist_listings__merged['price'].mean().round(2)

In [19]:
# Fill NaN values in the 'price' column with the mean price
ist_listings__merged['price'] = ist_listings__merged['price'].fillna(mean_price).round(2)