In [17]:
import pandas as pd

df = pd.read_csv('London_Q124_Listings.csv')

In [18]:
lon_listings_1 = pd.read_csv('London_Q124_Listings.csv')
lon_listings_2 = pd.read_csv('London_Q423_Listings.csv')
lon_listings_3 = pd.read_csv('London_Q323_Listings.csv')
lon_listings_4 = pd.read_csv('London_Q223_Listings.csv')

C:\Users\fjkha\AppData\Local\Temp\ipykernel_28900\4199669776.py:3: DtypeWarning: Columns (17) have mixed types. Specify dtype option on import or set low_memory=False.
  lon_listings_3 = pd.read_csv('London_Q323_Listings.csv')

In [24]:
lon_listings_1.isnull().sum()

id                                    0
name                                  0
host_id                               0
host_name                            10
neighbourhood_group               90857
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                             32969
minimum_nights                        0
number_of_reviews                     0
last_review                       24985
reviews_per_month                 24985
calculated_host_listings_count        0
availability_365                      0
number_of_reviews_ltm                 0
license                           90857
dtype: int64

In [26]:
lon_listings_2.shape

(91778, 18)

In [27]:
lon_listings_3.shape

(87947, 18)

In [31]:
lon_listings_3.isnull().sum()

id                                    0
name                                  0
host_id                               0
host_name                             6
neighbourhood_group               87947
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       22158
reviews_per_month                 22158
calculated_host_listings_count        0
availability_365                      0
number_of_reviews_ltm                 0
license                           87946
dtype: int64

In [29]:
lon_listings_4.shape

(81792, 18)

In [30]:
lon_listings_4.isnull().sum()

id                                    0
name                                  0
host_id                               0
host_name                             6
neighbourhood_group               81792
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       20602
reviews_per_month                 20602
calculated_host_listings_count        0
availability_365                      0
number_of_reviews_ltm                 0
license                           81792
dtype: int64

In [33]:
#Adding a new column to each dataframe to identify the quarter
lon_listings_1['quarter'] = 'Q1_2024'
lon_listings_2['quarter'] = 'Q4_2023'
lon_listings_3['quarter'] = 'Q3_2023'
lon_listings_4['quarter'] = 'Q2_2023'

In [34]:
lon_listings__merged = pd.concat([lon_listings_1, lon_listings_2, lon_listings_3, lon_listings_4],ignore_index=True, axis=0)

In [35]:
lon_listings__merged

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license,quarter
0,159736,A double Room 5mins from King's College Hospital,766056,Trevor,NaN,Lambeth,51.467880,-0.099930,Private room,65.0,4,96,2023-04-29,0.62,4,268,1,NaN,Q1_2024
1,312761,Spacious Central London Apartment by Hoxton Sq...,1608226,Pippa,NaN,Hackney,51.527040,-0.081290,Entire home/apt,160.0,9,122,2024-02-03,0.86,1,81,26,NaN,Q1_2024
2,13913,Holiday London DB Room Let-on going,54730,Alina,NaN,Islington,51.568610,-0.112700,Private room,65.0,1,41,2023-11-26,0.25,3,351,1,NaN,Q1_2024
3,165336,Charming Flat in Notting Hill,761400,Nathan,NaN,Kensington and Chelsea,51.517350,-0.210760,Entire home/apt,100.0,1,237,2024-03-17,1.57,1,3,25,NaN,Q1_2024
4,15400,Bright Chelsea Apartment. Chelsea!,60302,Philippa,NaN,Kensington and Chelsea,51.487800,-0.168130,Entire home/apt,120.0,4,94,2023-05-01,0.54,1,88,2,NaN,Q1_2024
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
352369,908448542533162051,Rental unit in Greater London · ★New · 1 bedro...,314162972,Blueground,NaN,Westminster,51.531046,-0.176821,Entire home/apt,169.0,90,0,NaN,NaN,280,1,0,NaN,Q2_2023
352370,908448851903630292,Rental unit in Greater London · ★New · 2 bedro...,314162972,Blueground,NaN,Lambeth,51.499511,-0.114164,Entire home/apt,170.0,30,0,NaN,NaN,280,272,0,NaN,Q2_2023
352371,908450386316337239,Rental unit in Greater London · ★New · 1 bedro...,36404387,Gizem,NaN,Hackney,51.557216,-0.067643,Private room,40.0,2,0,NaN,NaN,1,166,0,NaN,Q2_2023
352372,908452889848079702,Rental unit in Greater London · ★New · 3 bedro...,518621554,Ahsan,NaN,Westminster,51.515650,-0.179570,Entire home/apt,392.0,3,0,NaN,NaN,2,90,0,NaN,Q2_2023
352373,908453389034894825,Rental unit in Greater London · ★New · 2 bedro...,504311587,Stefan,NaN,Greenwich,51.484432,0.002025,Entire home/apt,169.0,5,0,NaN,NaN,15,88,0,NaN,Q2_2023

In [36]:
lon_listings__merged.duplicated().sum() #0 duplicates

0

In [39]:
columns_to_remove = ['last_review', 
                    'number_of_reviews_ltm', 
                    'license', 
                    'neighbourhood_group']

lon_listings__merged.drop(columns=columns_to_remove, inplace=True)

In [46]:
# Calculate the mean of the 'price' column (ignoring NaN values)
mean_price = lon_listings__merged['price'].mean().round(2)

In [47]:
# Fill NaN values in the 'price' column with the mean price
lon_listings__merged['price'] = lon_listings__merged['price'].fillna(mean_price).round(2)

In [43]:
lon_listings__merged.isnull().sum()

id                                    0
name                                  0
host_id                               0
host_name                            27
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
reviews_per_month                 91868
calculated_host_listings_count        0
availability_365                      0
quarter                               0
dtype: int64