In [4]:
import pandas as pd

df = pd.read_csv('London_Listings.csv')

In [3]:
df.head(100)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,159736,A double Room 5mins from King's College Hospital,766056,Trevor,NaN,Lambeth,51.46788,-0.09993,Private room,65.0,4,96,2023-04-29,0.62,4,268,1,NaN
1,312761,Spacious Central London Apartment by Hoxton Sq...,1608226,Pippa,NaN,Hackney,51.52704,-0.08129,Entire home/apt,160.0,9,122,2024-02-03,0.86,1,81,26,NaN
2,13913,Holiday London DB Room Let-on going,54730,Alina,NaN,Islington,51.56861,-0.11270,Private room,65.0,1,41,2023-11-26,0.25,3,351,1,NaN
3,165336,Charming Flat in Notting Hill,761400,Nathan,NaN,Kensington and Chelsea,51.51735,-0.21076,Entire home/apt,100.0,1,237,2024-03-17,1.57,1,3,25,NaN
4,15400,Bright Chelsea Apartment. Chelsea!,60302,Philippa,NaN,Kensington and Chelsea,51.48780,-0.16813,Entire home/apt,120.0,4,94,2023-05-01,0.54,1,88,2,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,344094,"Homely Twin Room Streatham,London",1745432,Karen,NaN,Lambeth,51.41847,-0.12583,Private room,43.0,3,211,2024-01-01,1.47,2,322,15,NaN
96,344102,Homely Triple Room London 2,1745432,Karen,NaN,Lambeth,51.41727,-0.12568,Private room,43.0,3,230,2024-03-03,1.75,2,306,34,NaN
97,69198,Spacious single room in quiet flat,345886,Alda,NaN,Haringey,51.59031,-0.09408,Private room,53.0,3,13,2022-05-24,0.09,1,363,0,NaN
98,72913,Dbl en suite @ Oval tube Sth London,379315,Matthew,NaN,Lambeth,51.48128,-0.11593,Private room,NaN,2,157,2020-03-03,0.99,1,0,0,NaN
99,229684,Bright room on park near city 7,448365,Roland,NaN,Lewisham,51.48793,-0.04204,Private room,NaN,1,22,2016-11-06,0.19,3,0,0,NaN