#### Creating a fucntion to read the CSV files for each city and put them in one dataframe

In [304]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import requests
import os
from dotenv import load_dotenv
import plotly.express as px

def merge_csv_files(file_list):
    #create an empty list to store the dataframes
    dataframes = []
    # Loop through the list of files and read them into pandas
    for file in file_list:
        df = pd.read_csv(file)
        dataframes.append(df)
    
    #add quarter column for grouping
    for i in range(len(dataframes)):
        #remove the path and extract the file name
        filename = file_list[i].split('/')[-1]
        #split the filename by '_' and extract the quarter and year
        parts = filename.split('_')
        #extract the quarter and year and concatenate them
        quarter_year = f"{parts[2]}_{parts[3].split('.')[0]}"
        #add the quarter column to the dataframe
        dataframes[i]['quarter'] = quarter_year 

    #remove unnecessary columns
    for i in range(len(dataframes)):
        dataframes[i] = dataframes[i].drop(columns=[
                    'last_review',
                   'number_of_reviews_ltm',
                   'license',
                   'neighbourhood_group',
                   'host_name',
        ])

        #fill missing values in price column
        dataframes[i]['price'] = dataframes[i]['price'].fillna(dataframes[i]['price'].mean())
    
    #concatenate the dataframes
    merged_dataframe = pd.concat(dataframes, ignore_index=True)
    return merged_dataframe

### Calling the function for all the cities

In [305]:
#Calling the function for Rome
file_list = ['data/rome_listing_Q1_24.csv', 'data/rome_listing_Q4_23.csv', 'data/rome_listing_Q3_23.csv', 'data/rome_listing_Q2_23.csv']
merged_data_rome = merge_csv_files(file_list)
merged_data_rome

,id,name,host_id,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365,quarter
0,2737,"Elif's room in cozy, clean flat.",3047,VIII Appia Antica,41.871360,12.482150,Private room,56.0,7,5,0.04,6,365,Q1_24
1,139330,abbraccia Morfeo (2b),679555,V Prenestino/Centocelle,41.881420,12.544220,Private room,94.0,2,26,0.29,4,62,Q1_24
2,3079,Cozy apartment (2-4)with Colisseum view,3504,I Centro Storico,41.895000,12.491170,Entire home/apt,120.0,90,21,0.13,6,253,Q1_24
3,140801,"Rome Studio Rental, Colosseum",685600,I Centro Storico,41.887390,12.496900,Entire home/apt,81.0,3,192,1.26,1,222,Q1_24
4,11834,"Rome ""Charming Boschetto Studio""",44552,I Centro Storico,41.895447,12.491181,Entire home/apt,110.0,2,224,1.43,1,181,Q1_24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113940,907665329364448150,Rental unit in Rome · ★New · 2 bedrooms · 4 be...,494485,XII Monte Verde,41.858597,12.439723,Entire home/apt,112.0,30,0,NaN,25,365,Q2_23
113941,907740873805877631,Rental unit in Rome · ★New · 2 bedrooms · 3 be...,255338453,I Centro Storico,41.894868,12.491906,Entire home/apt,512.0,1,0,NaN,2,144,Q2_23
113942,907795429693803226,Rental unit in Rome · ★New · 1 bedroom · 1 bed...,465355743,XIV Monte Mario,41.911356,12.444160,Entire home/apt,200.0,4,0,NaN,2,349,Q2_23
113943,907797510485153442,Rental unit in Rome · ★New · 2 bedrooms · 3 be...,507258639,I Centro Storico,41.898956,12.501748,Entire home/apt,128.0,1,0,NaN,2,307,Q2_23
113944,907814739994769462,Rental unit in Rome · ★New · 3 bedrooms · 3 be...,518536799,I Centro Storico,41.902406,12.494048,Entire home/apt,376.0,4,0,NaN,1,343,Q2_23

In [306]:
#testing if the price value is filled
merged_data_rome["price"].isnull().sum()

0

In [307]:
#testing quarter column
merged_data_rome["quarter"].unique()

array(['Q1_24', 'Q4_23', 'Q3_23', 'Q2_23'], dtype=object)

In [308]:
#Call the function for Madrid
file_list = ['data/madrid_listing_Q1_24.csv', 'data/madrid_listing_Q4_23.csv', 'data/madrid_listing_Q3_23.csv', 'data/madrid_listing_Q2_23.csv']
merged_data_madrid = merge_csv_files(file_list)
merged_data_madrid

,id,name,host_id,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365,quarter
0,21853,Bright and airy room,83531,Cármenes,40.403810,-3.741300,Private room,31.0,4,33,0.29,2,233,Q1_24
1,204570,Lovely 110m2 home - Best location!,1004721,Cortes,40.415200,-3.696680,Entire home/apt,180.0,6,103,0.68,1,10,Q1_24
2,24805,Gran Via Studio Madrid,346366726,Universidad,40.421830,-3.705290,Entire home/apt,92.0,5,35,0.31,1,91,Q1_24
3,205199,Tafari Gran Via,1008659,Universidad,40.421160,-3.703840,Entire home/apt,65.0,7,333,2.18,4,334,Q1_24
4,209373,Attic in the Heart of Madrid-WIFI,1031664,Embajadores,40.411260,-3.703470,Private room,32.0,1,77,0.52,1,174,Q1_24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99914,908757271360095110,Rental unit in Madrid · ★New · 2 bedrooms · 2 ...,518713670,Embajadores,40.409300,-3.695370,Entire home/apt,128.0,30,0,NaN,30,364,Q2_23
99915,908768034188159973,Rental unit in Madrid · ★New · 3 bedrooms · 3 ...,518713670,Argüelles,40.430675,-3.720135,Entire home/apt,129.0,30,0,NaN,30,365,Q2_23
99916,908772325334371147,Rental unit in Madrid · ★New · 1 bedroom · 1 b...,460488106,Timón,40.471325,-3.584069,Private room,33.0,1,0,NaN,2,352,Q2_23
99917,908774672501330570,Rental unit in Madrid · ★New · 1 bedroom · 1 b...,518713670,Castilla,40.470550,-3.673990,Entire home/apt,100.0,30,0,NaN,30,365,Q2_23
99918,908784742161639676,Rental unit in Madrid · ★New · 2 bedrooms · 2 ...,518713670,Lista,40.431580,-3.674990,Entire home/apt,92.0,30,0,NaN,30,365,Q2_23

In [309]:
#testing if the price value is filled
merged_data_madrid["price"].isnull().sum()

0

In [310]:
#testing quarter column
merged_data_madrid["quarter"].unique()

array(['Q1_24', 'Q4_23', 'Q3_23', 'Q2_23'], dtype=object)

In [311]:
#Calling the function for Barcelona
file_list = ['data/barcelona_listing_Q1_24.csv', 'data/barcelona_listing_Q4_23.csv', 'data/barcelona_listing_Q3_23.csv', 'data/barcelona_listing_Q2_23.csv']
merged_data_barcelona = merge_csv_files(file_list)
merged_data_barcelona

,id,name,host_id,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365,quarter
0,17475,Attic Sagrada Familia,65623,la Dreta de l'Eixample,41.399390,2.170440,Entire home/apt,165.000000,3,29,0.17,1,7,Q1_24
1,18674,Huge flat for 8 people close to Sagrada Familia,71615,la Sagrada Família,41.405560,2.172620,Entire home/apt,210.000000,1,40,0.30,28,252,Q1_24
2,23197,"Forum CCIB DeLuxe, Spacious, Large Balcony, relax",90417,el Besòs i el Maresme,41.412432,2.219750,Entire home/apt,240.000000,3,74,0.47,1,250,Q1_24
3,97529,Furnished one bedroom apartment with bathroom,497450,el Camp d'en Grassot i Gràcia Nova,41.408791,2.166066,Entire home/apt,146.488264,120,67,0.45,1,0,Q1_24
4,32711,Sagrada Familia area - Còrsega 1,135703,el Camp d'en Grassot i Gràcia Nova,41.405660,2.170150,Entire home/apt,129.000000,1,112,0.73,3,248,Q1_24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72151,909333050152586756,Rental unit in Barcelona · ★New · 1 bedroom · ...,492807178,"Sant Pere, Santa Caterina i la Ribera",41.389625,2.179024,Private room,65.000000,1,0,NaN,33,365,Q2_23
72152,909347845538314221,Rental unit in Barcelona · ★New · 2 bedrooms ·...,239550764,Sant Gervasi - la Bonanova,41.403783,2.136933,Entire home/apt,63.000000,31,0,NaN,23,145,Q2_23
72153,909355184941954314,Rental unit in Barcelona · ★New · 1 bedroom · ...,492807178,el Barri Gòtic,41.384334,2.175138,Private room,65.000000,1,0,NaN,33,361,Q2_23
72154,909364014604079283,Rental unit in Barcelona · ★New · 1 bedroom · ...,492807178,el Raval,41.376588,2.174328,Entire home/apt,100.000000,1,0,NaN,33,355,Q2_23
72155,909387630966968007,Rental unit in Barcelona · ★New · 1 bedroom · ...,492807178,"Sant Pere, Santa Caterina i la Ribera",41.390315,2.178998,Private room,65.000000,1,0,NaN,33,359,Q2_23

In [312]:
#testing if the price value is filled
merged_data_barcelona["price"].isnull().sum()

0

In [313]:
#testing quarter column
merged_data_barcelona["quarter"].unique()

array(['Q1_24', 'Q4_23', 'Q3_23', 'Q2_23'], dtype=object)

In [314]:
#Calling the function for Istanbul
file_list = ['data/istanbul_listing_Q1_24.csv', 'data/istanbul_listing_Q4_23.csv', 'data/istanbul_listing_Q3_23.csv', 'data/istanbul_listing_Q2_23.csv']
merged_data_istanbul = merge_csv_files(file_list)
merged_data_istanbul

,id,name,host_id,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365,quarter
0,25436,In the forest Sea view Two minutes to the city.,105823,Besiktas,41.078830,29.038630,Entire home/apt,3311.50536,7,0,NaN,1,0,Q1_24
1,28318,Cosy home overlooking Bosphorus,121721,Sariyer,41.091040,29.055800,Entire home/apt,4034.00000,3,0,NaN,1,81,Q1_24
2,34177,PETIT HOUSE,147330,Besiktas,41.066810,29.040350,Entire home/apt,1291.00000,10,16,0.16,2,364,Q1_24
3,701899,"Artist's Studio, Central & Near Taksim",3195183,Sisli,41.048990,28.986460,Entire home/apt,1305.00000,2,274,1.96,8,362,Q1_24
4,42835,Cozy apartment in the heart of Istanbul,187026,Sisli,41.043030,28.985310,Entire home/apt,2264.00000,3,0,NaN,3,87,Q1_24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
165475,924232365240939181,Rental unit in Beyoğlu · ★New · 1 bedroom · 1 ...,333707536,Beyoglu,41.026720,28.974220,Entire home/apt,2710.00000,2,0,NaN,4,168,Q2_23
165476,924262234078527293,Rental unit in Beşiktaş · ★New · 2 bedrooms · ...,101823564,Besiktas,41.043915,28.999423,Entire home/apt,1600.00000,15,0,NaN,2,365,Q2_23
165477,924507008316082291,Rental unit in Şişli · ★New · 1 bedroom · 1 be...,465985296,Sisli,41.056258,28.990235,Entire home/apt,1589.00000,4,0,NaN,1,365,Q2_23
165478,924599239946903466,Home in Şile · ★New · 1 bedroom · 1 bed · 1 bath,522743414,Sile,41.164707,29.637389,Entire home/apt,1403.00000,1,0,NaN,1,264,Q2_23
165479,924611456373330376,Home in Fatih · ★New · 1 bedroom · 1 bed · 2 b...,474189573,Fatih,41.029940,28.948510,Private room,4057.00000,1,0,NaN,1,262,Q2_23

In [315]:
#testing if the price value is filled
merged_data_istanbul["price"].isnull().sum()

0

In [316]:
#testing quarter column
merged_data_istanbul["quarter"].unique()

array(['Q1_24', 'Q4_23', 'Q3_23', 'Q2_23'], dtype=object)

In [317]:
#Calling the function for London
file_list = ['data/london_listing_Q1_24.csv', 'data/london_listing_Q4_23.csv', 'data/london_listing_Q3_23.csv', 'data/london_listing_Q2_23.csv']
merged_data_london = merge_csv_files(file_list)
merged_data_london

/var/folders/vp/y35h7cns1893095_3t9y959w0000gn/T/ipykernel_20453/2850524593.py:14: DtypeWarning:

Columns (17) have mixed types. Specify dtype option on import or set low_memory=False.

,id,name,host_id,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365,quarter
0,159736,A double Room 5mins from King's College Hospital,766056,Lambeth,51.467880,-0.099930,Private room,65.0,4,96,0.62,4,268,Q1_24
1,312761,Spacious Central London Apartment by Hoxton Sq...,1608226,Hackney,51.527040,-0.081290,Entire home/apt,160.0,9,122,0.86,1,81,Q1_24
2,13913,Holiday London DB Room Let-on going,54730,Islington,51.568610,-0.112700,Private room,65.0,1,41,0.25,3,351,Q1_24
3,165336,Charming Flat in Notting Hill,761400,Kensington and Chelsea,51.517350,-0.210760,Entire home/apt,100.0,1,237,1.57,1,3,Q1_24
4,15400,Bright Chelsea Apartment. Chelsea!,60302,Kensington and Chelsea,51.487800,-0.168130,Entire home/apt,120.0,4,94,0.54,1,88,Q1_24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
352369,908448542533162051,Rental unit in Greater London · ★New · 1 bedro...,314162972,Westminster,51.531046,-0.176821,Entire home/apt,169.0,90,0,NaN,280,1,Q2_23
352370,908448851903630292,Rental unit in Greater London · ★New · 2 bedro...,314162972,Lambeth,51.499511,-0.114164,Entire home/apt,170.0,30,0,NaN,280,272,Q2_23
352371,908450386316337239,Rental unit in Greater London · ★New · 1 bedro...,36404387,Hackney,51.557216,-0.067643,Private room,40.0,2,0,NaN,1,166,Q2_23
352372,908452889848079702,Rental unit in Greater London · ★New · 3 bedro...,518621554,Westminster,51.515650,-0.179570,Entire home/apt,392.0,3,0,NaN,2,90,Q2_23
352373,908453389034894825,Rental unit in Greater London · ★New · 2 bedro...,504311587,Greenwich,51.484432,0.002025,Entire home/apt,169.0,5,0,NaN,15,88,Q2_23

In [318]:
#testing if the price value is filled
merged_data_london["price"].isnull().sum()

0

In [319]:
#testing quarter column
merged_data_london["quarter"].unique()

array(['Q1_24', 'Q4_23', 'Q3_23', 'Q2_23'], dtype=object)

In [320]:
#Calling the function for Paris
file_list = ['data/paris_listing_Q1_24.csv', 'data/paris_listing_Q4_23.csv', 'data/paris_listing_Q3_23.csv', 'data/paris_listing_Q2_23.csv']
merged_data_paris = merge_csv_files(file_list)
merged_data_paris

,id,name,host_id,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365,quarter
0,39948,COSY INDEPENDENT ROOM IN CENTRAL PARIS,171483,Bourse,48.870680,2.344600,Private room,288.66241,5,126,0.99,1,2,Q1_24
1,40143,Stylish & Design 1BR flat- Voltaire Bastille,172322,Popincourt,48.857190,2.378310,Entire home/apt,288.66241,365,11,0.07,1,0,Q1_24
2,40899,Lovely flat Canal Saint Martin Long stays,177130,Entrepôt,48.874380,2.372150,Entire home/apt,50.00000,20,100,0.92,1,176,Q1_24
3,3109,zen and calm,3631,Observatoire,48.831910,2.318700,Entire home/apt,250.00000,2,4,0.05,1,355,Q1_24
4,5396,Your perfect Paris studio on Île Saint-Louis,7903,Hôtel-de-Ville,48.852470,2.358350,Entire home/apt,107.00000,1,393,2.19,2,183,Q1_24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
288369,2404876,Rental unit in Paris · ★4.77 · 3 bedrooms · 3 ...,2616123,Popincourt,48.863560,2.371900,Entire home/apt,195.00000,3,113,1.01,1,8,Q2_23
288370,876625296659823798,Rental unit in Paris · ★New · 1 bedroom · 1 be...,148422008,Batignolles-Monceau,48.885302,2.311331,Entire home/apt,62.00000,100,0,NaN,1,203,Q2_23
288371,574584027642384480,Condo in Paris · ★5.0 · 4 bedrooms · 3 beds · ...,109810931,Vaugirard,48.854590,2.292530,Entire home/apt,400.00000,3,6,0.55,1,34,Q2_23
288372,50718612,Hostel in Paris · ★4.96 · 1 bedroom · 6 beds ·...,315206797,Popincourt,48.868940,2.377910,Private room,479.00000,1,23,1.02,10,292,Q2_23
288373,893900838665539285,Rental unit in Paris · ★New · 1 bedroom · 1 be...,233606677,Popincourt,48.863310,2.374860,Entire home/apt,85.00000,1,1,1.00,1,344,Q2_23

In [321]:
#testing if the price value is filled
merged_data_paris["price"].isnull().sum()

0

In [322]:
#testing quarter column
merged_data_paris["quarter"].unique()

array(['Q1_24', 'Q4_23', 'Q3_23', 'Q2_23'], dtype=object)

### Creating final data frame with all city data

In [323]:
def merge_data_frames(df_list):
    #create an empty list to store the merged dataframes for each city
    dataframes_merged = []
    # Loop through the list of data frames (df_list defined below) and append them to the empty list dataframes_merged
    for df in df_list:
        dataframes_merged.append(df)

    #add city column for grouping
    #define the city names
    city_names = ['Rome', 'Madrid', 'Barcelona', 'Istanbul', 'London', 'Paris']
    #loop through the dataframes
    for i in range(len(df_list)):
        #add city column by matching the index of the city_names list with the index of the dataframes in the df_list
        df_list[i]['city'] = city_names[i]

    #add currency column
    #define the currency values
    currency_values = ['EUR', 'EUR', 'EUR', 'TRY', 'GBP', 'EUR']
    #loop through the dataframes
    for i in range(len(df_list)):
        #add currency column by matching the index of the currency_values list with the index of the dataframes in the df_list
        df_list[i]['currency'] = currency_values[i]

    
    #concatenate the dataframes
    final_dataframe = pd.concat(dataframes_merged, ignore_index=True)

    #move currency column next to price column
    col = final_dataframe.pop('currency')
    final_dataframe.insert(9, 'currency', col)

    return final_dataframe

In [324]:
#defining the list of dataframes
df_list = [merged_data_rome, merged_data_madrid, merged_data_barcelona, merged_data_istanbul, merged_data_london, merged_data_paris]
final_dataframe = merge_data_frames(df_list)

In [325]:
final_dataframe

,id,name,host_id,neighbourhood,latitude,longitude,room_type,price,minimum_nights,currency,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365,quarter,city
0,2737,"Elif's room in cozy, clean flat.",3047,VIII Appia Antica,41.871360,12.482150,Private room,56.0,7,EUR,5,0.04,6,365,Q1_24,Rome
1,139330,abbraccia Morfeo (2b),679555,V Prenestino/Centocelle,41.881420,12.544220,Private room,94.0,2,EUR,26,0.29,4,62,Q1_24,Rome
2,3079,Cozy apartment (2-4)with Colisseum view,3504,I Centro Storico,41.895000,12.491170,Entire home/apt,120.0,90,EUR,21,0.13,6,253,Q1_24,Rome
3,140801,"Rome Studio Rental, Colosseum",685600,I Centro Storico,41.887390,12.496900,Entire home/apt,81.0,3,EUR,192,1.26,1,222,Q1_24,Rome
4,11834,"Rome ""Charming Boschetto Studio""",44552,I Centro Storico,41.895447,12.491181,Entire home/apt,110.0,2,EUR,224,1.43,1,181,Q1_24,Rome
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1092243,2404876,Rental unit in Paris · ★4.77 · 3 bedrooms · 3 ...,2616123,Popincourt,48.863560,2.371900,Entire home/apt,195.0,3,EUR,113,1.01,1,8,Q2_23,Paris
1092244,876625296659823798,Rental unit in Paris · ★New · 1 bedroom · 1 be...,148422008,Batignolles-Monceau,48.885302,2.311331,Entire home/apt,62.0,100,EUR,0,NaN,1,203,Q2_23,Paris
1092245,574584027642384480,Condo in Paris · ★5.0 · 4 bedrooms · 3 beds · ...,109810931,Vaugirard,48.854590,2.292530,Entire home/apt,400.0,3,EUR,6,0.55,1,34,Q2_23,Paris
1092246,50718612,Hostel in Paris · ★4.96 · 1 bedroom · 6 beds ·...,315206797,Popincourt,48.868940,2.377910,Private room,479.0,1,EUR,23,1.02,10,292,Q2_23,Paris
1092247,893900838665539285,Rental unit in Paris · ★New · 1 bedroom · 1 be...,233606677,Popincourt,48.863310,2.374860,Entire home/apt,85.0,1,EUR,1,1.00,1,344,Q2_23,Paris

In [326]:
final_dataframe["city"].unique()

array(['Rome', 'Madrid', 'Barcelona', 'Istanbul', 'London', 'Paris'],
      dtype=object)

# Price Analysis

#### Converting Currency to EUR

Converting all currencies to EUR to be able to perform statistical analysis. Using a free currency exchange API to convert with live rates TRY and GBP currencies to EUR.

In [345]:
# Load environment variables from .env file
load_dotenv()

# Get the API key from the environment variable
API_KEY = os.getenv('EXCHANGERATE_API_KEY')
BASE_URL = f'https://v6.exchangerate-api.com/v6/{API_KEY}/latest/EUR'

# Function to get exchange rates
def get_exchange_rates():
    response = requests.get(BASE_URL)
    data = response.json()
    if data['result'] == 'error':
        raise Exception(data['error-type'])
    return data['conversion_rates']

try:
    # Fetch exchange rates
    exchange_rates = get_exchange_rates()


    dataframe_currency = pd.DataFrame(final_dataframe)

    # Convert prices to EUR
    final_dataframe['price_in_eur'] = final_dataframe.apply(lambda row: row['price'] / exchange_rates[row['currency']], axis=1)

except Exception as e:
    print("Error:", e)

In [346]:
# Drop the price and currency columns
dataframe_currency = dataframe_currency.drop(['price', 'currency'], axis=1)
dataframe_currency = dataframe_currency[dataframe_currency['price_in_eur'] != 0]

In [347]:
# Move the price_in_eur column 
col = dataframe_currency.pop('price_in_eur')
dataframe_currency.insert(9, 'price_in_eur', col)

In [348]:
#Saving city price stats in a variable 

istanbul_city = dataframe_currency[dataframe_currency['city'] == 'Istanbul']
london_city = dataframe_currency[dataframe_currency['city'] == 'London']
madrid_city = dataframe_currency[dataframe_currency['city'] == 'Madrid']
barcelona_city = dataframe_currency[dataframe_currency['city'] == 'Barcelona']
paris_city = dataframe_currency[dataframe_currency['city'] == 'Paris']
rome_city = dataframe_currency[dataframe_currency['city'] == 'Rome']

#### Create a function to plot the price distribution for each city

In [403]:
#creating data visualisation function
def create_visualisation(dataframe, city_name):

#Visualizing the price distribution with outliers
    plt.figure(figsize=(12, 8))
    sns.boxplot(x='quarter', y='price_in_eur', data=dataframe)
    plt.title(f'Price distribution per quarter (with outliers) {city_name}')
    plt.show()
    

#Calculate outliers
# Calculate Q1 (25th percentile) and Q3 (75th percentile)
    Q1 = dataframe['price_in_eur'].quantile(0.25)
    Q3 = dataframe['price_in_eur'].quantile(0.75)
    IQR = Q3 - Q1

# Define outlier bounds
    lower_bound = max(Q1 - 1.5 * IQR, 5)
    upper_bound = Q3 + 1.5 * IQR

# Remove outliers
    dataframe_no_outliers = dataframe[(dataframe['price_in_eur'] >= lower_bound) & (dataframe['price_in_eur'] <= upper_bound)]

# Create a histogram with no outliers
    fig = px.histogram(
        dataframe_no_outliers,
        x='price_in_eur',
        nbins=10,
        title=f'Histogram of Prices in {city_name}(No Outliers)',
        labels={'price_in_eur': 'Price in EUR'},
        template='plotly_white'
    )   

# Customize the appearance
    fig.update_traces(marker=dict(color='skyblue', line=dict(color='black', width=1.5)))

# Add KDE (Kernel Density Estimate)
    kde_x = np.linspace(lower_bound, upper_bound, 100)
    kde_y = stats.gaussian_kde(dataframe_no_outliers['price_in_eur'])(kde_x) * len(dataframe_no_outliers['price_in_eur'])
    fig.add_trace(go.Scatter(x=kde_x, y=kde_y, mode='lines', name='KDE', line=dict(color='red')))

# Customize layout
    fig.update_layout(
        xaxis_title='Price in EUR',
        yaxis_title='Frequency',
        title_font_size=16,
        xaxis_title_font_size=14,
        yaxis_title_font_size=14,
        xaxis=dict(tickfont=dict(size=12)),
        yaxis=dict(tickfont=dict(size=12)),
        showlegend=True
    )

# Show the plot
    fig.show()


#Calculate the average price per quarter
    avg_price_per_quarter = dataframe_no_outliers.groupby('quarter')['price_in_eur'].mean().reset_index()

# Create a bar chart using Plotly
    fig = px.bar(avg_price_per_quarter, x='quarter', y='price_in_eur', title=f'Average Price per Quarter in {city_name}(No Outliers)', labels={'price_in_eur': 'Average Price in EUR'})

# Customize the layout
    fig.update_layout(
    yaxis_title="Average Price in EUR",
    xaxis_title="Quarter",
    title_font_size=16,
    yaxis_title_font_size=14,
    xaxis_title_font_size=14
    )

# Show the plot
    fig.show()

#### Create a function to calculate all the stats for each city

In [427]:
import plotly.graph_objects as go

def calculate_stats(df, lower_bound_threshold=5):
    stats = []
    cities = df['city'].unique()
    
    for city in cities:
        city_df = df[df['city'] == city]
        
        # Calculate Q1, Q3, and IQR
        Q1 = city_df['price_in_eur'].quantile(0.25)
        Q3 = city_df['price_in_eur'].quantile(0.75)
        IQR = Q3 - Q1
        
        # Define outlier bounds
        lower_bound = max(Q1 - 1.5 * IQR, lower_bound_threshold)
        upper_bound = Q3 + 1.5 * IQR
        
        # Remove outliers
        city_no_outliers = city_df[(city_df['price_in_eur'] >= lower_bound) & (city_df['price_in_eur'] <= upper_bound)]
        
        # Calculate min, max, and mean prices
        min_price = round(city_no_outliers['price_in_eur'].min(), 2)
        max_price = round(city_no_outliers['price_in_eur'].max(), 2)
        mean_price = round(city_no_outliers['price_in_eur'].mean(), 2)
    
        
        stats.append({'city': city, 'min_price': min_price, 'max_price': max_price, 'mean_price': mean_price})
    
    return pd.DataFrame(stats)

In [401]:
# Calculate the statistics with currency dataframe
calculate_stats(dataframe_currency)

        city  min_price  max_price  mean_price
0       Rome       8.00     339.00      133.14
1     Madrid       8.00     255.00       97.59
2  Barcelona       8.00     330.00      114.73
3   Istanbul       5.06     142.42       48.19
4     London       8.28     413.96      153.45
5      Paris       8.00     540.00      169.66

##### Visualizing/comparing min/max/mean prices for all cities

In [402]:
# Calculate stats for each city
prices_df = calculate_stats(dataframe_currency)

# Create a grouped bar chart using Plotly Graph Objects
fig = go.Figure()

# Add bars for min, max, and mean prices
fig.add_trace(go.Bar(
    x=prices_df['city'],
    y=prices_df['min_price'],
    name='Min Price',
    marker_color='blue',
    text=prices_df['min_price'],
    textposition='outside'
))

fig.add_trace(go.Bar(
    x=prices_df['city'],
    y=prices_df['max_price'],
    name='Max Price',
    marker_color='orange',
    text=prices_df['max_price'],
    textposition='outside'
))

fig.add_trace(go.Bar(
    x=prices_df['city'],
    y=prices_df['mean_price'],
    name='Mean Price',
    marker_color='green',
    text=prices_df['mean_price'],
    textposition='outside'
))

# Update layout
fig.update_layout(
    title='Airbnb Prices per Night (Excluding Outliers)',
    xaxis_title='City',
    yaxis_title='Price (EUR)',
    barmode='group',  # Group bars
    width=1200,  # Adjust the width as needed
    height=600 
)

# Show the plot
fig.show()

#### Looking at price trends for each city over the quarters

In [414]:
#Create average price comparison between Q1 2024 and Q4 2023 and Q3 2023 and Q2 2023

# Filter the data for Q1 2024 and Q3 2023
q1_2024 = dataframe_currency[dataframe_currency['quarter'] == 'Q1_24']
q3_2023 = dataframe_currency[dataframe_currency['quarter'] == 'Q3_23']
q2_2023 = dataframe_currency[dataframe_currency['quarter'] == 'Q2_23']
q4_2023 = dataframe_currency[dataframe_currency['quarter'] == 'Q4_23']


# Calculate the average price for each city in Q1 2024
avg_price_q1_2024 = q1_2024.groupby('city')['price_in_eur'].mean().reset_index()

# Calculate the average price for each city in Q4 2023
avg_price_q4_2023 = q4_2023.groupby('city')['price_in_eur'].mean().reset_index()

# Calculate the average price for each city in Q3 2023
avg_price_q3_2023 = q3_2023.groupby('city')['price_in_eur'].mean().reset_index()

# Calculate the average price for each city in Q2 2023
avg_price_q2_2023 = q2_2023.groupby('city')['price_in_eur'].mean().reset_index()

#Merge all four dataframes
avg_price_comparison = pd.merge(avg_price_q1_2024, avg_price_q4_2023, on='city', suffixes=('_q1_2024', '_q4_2023'))
avg_price_comparison = pd.merge(avg_price_comparison, avg_price_q3_2023, on='city')
avg_price_comparison = pd.merge(avg_price_comparison, avg_price_q2_2023, on='city', suffixes=('_q3_2023', '_q2_2023'))

In [421]:
avg_price_comparison

,city,price_in_eur_q1_2024,price_in_eur_q4_2023,price_in_eur_q3_2023,price_in_eur_q2_2023
0,Barcelona,146.488264,126.494083,162.802389,177.700273
1,Istanbul,93.043597,81.729174,75.972003,74.250351
2,London,213.213122,215.424923,214.495241,221.836108
3,Madrid,137.574294,129.016058,129.157000,149.114706
4,Paris,288.665830,221.161739,205.105914,198.103275
5,Rome,186.792302,172.378912,207.733312,230.872310

In [425]:
#make into a dataframe
avg_price_comparison = pd.DataFrame(avg_price_comparison)
avg_price_comparison
av

,city,price_in_eur_q1_2024,price_in_eur_q4_2023,price_in_eur_q3_2023,price_in_eur_q2_2023
0,Barcelona,146.488264,126.494083,162.802389,177.700273
1,Istanbul,93.043597,81.729174,75.972003,74.250351
2,London,213.213122,215.424923,214.495241,221.836108
3,Madrid,137.574294,129.016058,129.157000,149.114706
4,Paris,288.665830,221.161739,205.105914,198.103275
5,Rome,186.792302,172.378912,207.733312,230.872310

#### Visualising the average price comparison between Q1 2024 and Q4 2023 and Q3 2023 and Q2 2023

In [426]:
# Melt the DataFrame to long format
df_melted = avg_price_comparison.melt(id_vars='city', var_name='quarter', value_name='price')

# Convert quarter names to a proper order
df_melted['quarter'] = df_melted['quarter'].str.replace('price_in_eur_', '')
df_melted['quarter'] = pd.Categorical(df_melted['quarter'], 
                                      categories=['q2_2023', 'q3_2023', 'q4_2023', 'q1_2024'], 
                                      ordered=True)

# Create a line plot
fig = px.line(df_melted, x='quarter', y='price', color='city', markers=True, title='Price Trends Over Quarters')
fig.update_layout(
    xaxis_title='Quarter',
    yaxis_title='Price in EUR',
    title_font_size=16,
    xaxis_title_font_size=14,
    yaxis_title_font_size=14
)
fig.show()