#### Creating a fucntion to read the CSV files for each city and put them in one dataframe

### Merging CSV files and creating one dataframe

In [14]:
from functions_main import *

In [15]:
#Calling the function for Rome
file_list = ['data/rome_listing_Q1_24.csv', 'data/rome_listing_Q4_23.csv', 'data/rome_listing_Q3_23.csv', 'data/rome_listing_Q2_23.csv']
merged_data_rome = merge_csv_files(file_list)
#Call the function for Madrid
file_list = ['data/madrid_listing_Q1_24.csv', 'data/madrid_listing_Q4_23.csv', 'data/madrid_listing_Q3_23.csv', 'data/madrid_listing_Q2_23.csv']
merged_data_madrid = merge_csv_files(file_list)
#Calling the function for Barcelona
file_list = ['data/barcelona_listing_Q1_24.csv', 'data/barcelona_listing_Q4_23.csv', 'data/barcelona_listing_Q3_23.csv', 'data/barcelona_listing_Q2_23.csv']
merged_data_barcelona = merge_csv_files(file_list)
#Calling the function for Istanbul
file_list = ['data/istanbul_listing_Q1_24.csv', 'data/istanbul_listing_Q4_23.csv', 'data/istanbul_listing_Q3_23.csv', 'data/istanbul_listing_Q2_23.csv']
merged_data_istanbul = merge_csv_files(file_list)
#Calling the function for London
file_list = ['data/london_listing_Q1_24.csv', 'data/london_listing_Q4_23.csv', 'data/london_listing_Q3_23.csv', 'data/london_listing_Q2_23.csv']
merged_data_london = merge_csv_files(file_list)
#Calling the function for Paris
file_list = ['data/paris_listing_Q1_24.csv', 'data/paris_listing_Q4_23.csv', 'data/paris_listing_Q3_23.csv', 'data/paris_listing_Q2_23.csv']
merged_data_paris = merge_csv_files(file_list)

/Users/lasmaoficierecakste/Documents/GitHub/Project_3/functions_main.py:13: DtypeWarning: Columns (17) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file)

In [16]:
#defining the list of dataframes
df_list = [merged_data_rome, merged_data_madrid, merged_data_barcelona, merged_data_istanbul, merged_data_london, merged_data_paris]
final_dataframe = merge_data_frames(df_list)

In [17]:
final_dataframe

,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365,quarter,city
0,2737,"Elif's room in cozy, clean flat.",3047,Elif,VIII Appia Antica,41.871360,12.482150,Private room,56.0,7,5,0.04,6,365,Q1_24,Rome
1,139330,abbraccia Morfeo (2b),679555,Mario,V Prenestino/Centocelle,41.881420,12.544220,Private room,94.0,2,26,0.29,4,62,Q1_24,Rome
2,3079,Cozy apartment (2-4)with Colisseum view,3504,Laura,I Centro Storico,41.895000,12.491170,Entire home/apt,120.0,90,21,0.13,6,253,Q1_24,Rome
3,140801,"Rome Studio Rental, Colosseum",685600,Juan Carlos,I Centro Storico,41.887390,12.496900,Entire home/apt,81.0,3,192,1.26,1,222,Q1_24,Rome
4,11834,"Rome ""Charming Boschetto Studio""",44552,Serena,I Centro Storico,41.895447,12.491181,Entire home/apt,110.0,2,224,1.43,1,181,Q1_24,Rome
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1092243,2404876,Rental unit in Paris · ★4.77 · 3 bedrooms · 3 ...,2616123,Corinne,Popincourt,48.863560,2.371900,Entire home/apt,195.0,3,113,1.01,1,8,Q2_23,Paris
1092244,876625296659823798,Rental unit in Paris · ★New · 1 bedroom · 1 be...,148422008,Anne,Batignolles-Monceau,48.885302,2.311331,Entire home/apt,62.0,100,0,NaN,1,203,Q2_23,Paris
1092245,574584027642384480,Condo in Paris · ★5.0 · 4 bedrooms · 3 beds · ...,109810931,Lionel,Vaugirard,48.854590,2.292530,Entire home/apt,400.0,3,6,0.55,1,34,Q2_23,Paris
1092246,50718612,Hostel in Paris · ★4.96 · 1 bedroom · 6 beds ·...,315206797,Les Piaules,Popincourt,48.868940,2.377910,Private room,479.0,1,23,1.02,10,292,Q2_23,Paris
1092247,893900838665539285,Rental unit in Paris · ★New · 1 bedroom · 1 be...,233606677,Lou,Popincourt,48.863310,2.374860,Entire home/apt,85.0,1,1,1.00,1,344,Q2_23,Paris